

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
<form action="" (ngSubmit)="save()" #myform="ngForm">
    
    <input class="form-control" type="number" id="productid" 
    required minlength="5" [(ngModel)]="model.productid"  #productid="ngModel"> 
    <div *ngIf="productid.invalid && (productid.dirty|| productid.touched)"
    class="alert alert-danger" >
    productid is invalid
</div>

    <input class="form-control" type="text" id="name" 
    [(ngModel)]="model.name" name="name" #name="ngModel">
    <div *ngIf="name.invalid && (name.dirty|| name.touched)"
    class="alert alert-danger" >
    name is invalid
</div>

    <input class="form-control" type="number" id="price"
     [(ngModel)]="model.price" name="price" #price="ngModel">
     <div *ngIf="price.invalid && (price.dirty|| price.touched)"
    class="alert alert-danger" >
      price is invalid
</div>

    <input class="form-control" type="text" id="description"
     [(ngModel)]="model.description" name="description" #description="ngModel">
     <div *ngIf="description.invalid && (description.dirty|| description.touched)"
    class="alert alert-danger" >
    description is invalid
</div>

  <!-- <input class="form-control" type="number" id="qty"
     [(ngModel)]=model.qty name="qty" #qty="ngModel"> -->
<button (click)="save()">save</button>

</form>
</body>
</html>